* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #efefef;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #414141;
    color: #f0f0f0;
}

header h1 {
    margin: 0;
}

header nav a {
    margin-left: 20px;
    color: #f0f0f0;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #ddd;
}

#color-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    width: 150px;
    height: 200px;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    border: 1px solid black;
    margin: 5px;
}

.row1 {
    border-bottom: 1px solid black;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #000000;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #414141;
    color: #f0f0f0;
}


footer a {
    color: #f0f0f0;
    text-decoration: none;
    display: block;
}

@media (min-width: 1200px) {
    #color-grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 991px) {
    #color-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 767px) {
    #color-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    #color-grid {
        grid-template-columns: 1fr;
    }
}



